html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

body {
  flex-direction: column;
  height: 100vh;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  padding: 0;
}

img {
  width: 150px;
  height: auto;
  border: 2px solid blue;
  border-radius: 15px;
  margin-bottom: 15px;
}

.flex {
    display: flex;
}

.nav-bar {
  background-color: #1f2937;
  color: #fff;
  align-items: center;
  justify-content: center;
  padding: 1em 15em;
}

.logo {
  flex: 1 0 auto;
  font-size: 24px;
  color: #f9faf8;
}

.links {
  gap: 20px;
}

.links li {
  font-size: 15px;
}

.hero-section {
  background-color: #1f2937;
  color: #f9faf8;
  justify-content: space-between;
  padding: 5em 15em;
}

.hero-content {
  flex-direction: column;
  flex: 0 1 auto;
  max-width: 500px;
}

.hero-quote {
  font-size: 48px;
}

.hero-descrip {
  font-size: 18px;
  color: #e5e7eb;
  margin: 10px 0;
}

.signup-button {
  background-color: #3882f6;
  padding: 8px;
  width: 10em;
  border-radius: 10px;
  color: #fff;
  margin: 10px 0;
  border: 1px solid #3882f6;;
}

.image-placeholder {
  width: 450px;
  background-color: #e5e7eb;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.heading {
  text-align: center;
  font-size: 30px;
  margin-bottom: 25px;
}

.container {
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 3em 0;
}

.cards {

  gap: 25px;
}

.card {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
}

.box {
  background-color: #e5e7eb;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5em 15em;
}

.quote {
  font-style: italic;
  font-weight: lighter;
  font-size: 36px;
  width: 80%;
  color: #1f2937;
}

.name {
  width: 30%;
  align-self: flex-end;
  font-weight: bold;
}

.last-section {
  background-color: #3882f6;
  padding: 5em 10em;
  color: #fff;
  width: 75em;
  align-items: center;
  flex: 0 1 auto;
  margin: 4em auto;
  border-radius: 10px;
  justify-content: space-around;
}

.subscribe {
  flex-direction: column;
  justify-content: center;
}

.heading-bottom {
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}

.signup_button_2 {
  border: 1px solid #fff;
  padding: 8px;
  width: 10em;
  border-radius: 10px;
  color: #fff;
  background-color: transparent;
}

.footer {
  flex: 0 1 auto;
  background-color: #1f2937;
  color: white;
  margin-top: auto;
  justify-content: center;
  margin-top: auto;
  padding: 1em;
}
